---
import '../styles/global.css'
import StartLayout from '../layouts/StartLayout.astro'
import {Image, Picture} from '@astrojs/image/components'
import hero from '../assets/hero-big.webp'
import Button from '../components/Button.astro';
import staffeli from '../assets/staffeli.png'
import plante from '../assets/plante_3.png'
import articleImage1 from '../assets/historier_1.png'
import articleImage2 from '../assets/historier_2.png'
import articleImage3 from '../assets/studerende_1.png'
import instaImage1 from '../assets/galleri_1.jpg'
import instaImage2 from '../assets/galleri_2.jpg'
import instaImage3 from '../assets/galleri_3.jpg'
import instaImage4 from '../assets/galleri_4.jpg'
import instaImage5 from '../assets/galleri_5.jpg'
import instaImage6 from '../assets/galleri_6.jpg'
import instaImage7 from '../assets/galleri_7.jpg'
import instaImage8 from '../assets/galleri_8.jpg'
import instaImage9 from '../assets/galleri_9.jpg'
import instaImage10 from '../assets/galleri_10.jpg'
import TilTopKnap from '../components/TilTopKnap.astro';
---

<StartLayout>
  <section class="section__hero">
    <Image class="hero__image" format={'webp'} src={hero} alt="Karmen køkken"></Image>
    <div class="hero__title">
      <h1>Karmen</h1>
      <p class="p--italic">- En grønnere udsigt</p>
    </div>
  </section>
  <div class="padding--120px">
    <TilTopKnap></TilTopKnap>
    <section class="section--grey">
      <div class="section__con__title">
        <h2>Bedste <span>tilbud</span></h2>
        <Button class='section__btn' title={'Se alle produkter'}></Button>
      </div>
      <div class="section__con__products">
        <div class="product product__staffeli">
          <div class="product__image image--staffeli">
            <Image format={'webp'} src={staffeli} width={108} height={134} alt="Mini staffeli"></Image>
          </div>
          <div class="product--title">
            <p class="p--bold">Mini staffeli</p>
            <p class="p--faded">Inkl. malerlærred</p>
          </div>
          <div>
            <p class="p--bold">30 kr</p>
            <p class="p--faded">Før: 95 kr</p>
          </div>
        </div>
        <div class="product product__sukkulent">
          <div class="product__image">
            <Image format={'webp'} src={plante} width={108} height={134} alt="Sukkulent"></Image>
          </div>
          <div class="product--title">
            <p class="p--bold">Sukkulent</p>
            <p class="p--faded">Grøn plante</p>
          </div>
          <div>
            <p class="p--bold">50 kr</p>
            <p class="p--faded">Før: 150 kr</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section__history">
        <h3>Oplev vores historier</h3>
        <h3 class="heading--faded">missionen om bæredygtighed</h3>
      <div class="article__con">
        <article>
          <Image format={'webp'} src={articleImage1} alt="Bogreol med bøger"></Image>
          <div class="article__text__con">
            <h4>Hvad er bæredygtighed og omstilling?</h4>
            <p class="p--faded  article__p">I fællesskab kan vi finde de rigtige løsninger, der giver mening lokalt og derfor skaber ægte bæredygtighed.</p>
            <a class="a--gridend" href="">Læs mere &#8594;</a>
          </div>
        </article>
        <article class="article--shadow">
          <div class="article__image__con">
            <Image class="article__image" format={'webp'} width={379} height={380} src={articleImage2} alt="Papir med skrift"></Image>
          </div>
          <div class="article__text__con">
            <h4>Sådan driver du bæredygtig ledelse</h4>
            <p class="p--faded  article__p">Omstillingen til at blive bæredygtige virksomheder og organisationer er kompleks. Det er en ny måde at drive virksomhed på.</p>
            <a href="">Læs mere &#8594;</a>
          </div>
        </article>
        <article>
          <Image class="article__image" format={'webp'} src={articleImage3} alt="Håndarbejdere"></Image>
          <div class="article__text__con">
            <h4>Studerende udvikler bæredygtige løsninger</h4>
            <p class="p--faded  article__p">Hvordan genanvender vi mere byggeaffald fra renoveringsprojekter? Kan vi skabe et nyt marked for genbrug af materialer i byggebranchen?</p>
            <a href="">Læs mere &#8594;</a>
          </div>
        </article>
      </div>
      <Button class='section__btn--more' title={'Mere om os'}></Button>
    </section>
    <section class="section__instagram">
      <i class="fa-brands fa-instagram"></i>
      <div class="instagram__title">
        <h4>Bliv inspireret af</h4>
        <h4 class="heading--faded">Billeder fra vores Instagram</h4>
      </div>
      <div class="gallery__con">
        <!--- Astro formatere og optimere selv billeder -->
        <a target="_blank" href="https://instagram.com">
          <Image class='gallery__image' src={instaImage1} alt="" width={238} height={238} format={'webp'} alt="Instagram Karmen foto"></Image></a>
          <a target="_blank" href="https://instagram.com">
            <Image class='gallery__image' src={instaImage2} alt="" width={238} height={238} format={'webp'} alt="Instagram Karmen foto"></Image>
          </a>
          <a target="_blank" href="https://instagram.com">
            <Image class='gallery__image' src={instaImage3} alt="" width={238} height={238} format={'webp'} alt="Instagram Karmen foto"></Image>
          </a>
          <a target="_blank" href="https://instagram.com">
            <Image class='gallery__image' src={instaImage4} alt="" width={238} height={238} format={'webp'} alt="Instagram Karmen foto"></Image>
          </a>
          <a target="_blank" href="https://instagram.com">
            <Image class='gallery__image' src={instaImage5} alt="" width={238} height={238} format={'webp'} alt="Instagram Karmen foto"></Image>
          </a>
          <a target="_blank" href="https://instagram.com">
            <Image class='gallery__image' src={instaImage6} alt="" width={238} height={238} format={'webp'} alt="Instagram Karmen foto"></Image>
          </a>
          <a target="_blank" href="https://instagram.com">
            <Image class='gallery__image' src={instaImage7} alt="" width={238} height={238} format={'webp'} alt="Instagram Karmen foto"></Image>
          </a>
          <a target="_blank" href="https://instagram.com">
            <Image class='gallery__image' src={instaImage8} alt="" width={238} height={238} format={'webp'} alt="Instagram Karmen foto"></Image>
          </a>
          <a target="_blank" href="https://instagram.com">
            <Image class='gallery__image' src={instaImage9} alt="" width={238} height={238} format={'webp'} alt="Instagram Karmen foto"></Image>
          </a>
          <a target="_blank" href="https://instagram.com">
            <Image class='gallery__image' src={instaImage10} alt="" width={238} height={238} format={'webp'} alt="Instagram Karmen foto"></Image>
          </a>
      </div>
    </section>
  </div>
</StartLayout>

<style>
  .p--bold {
    font-weight: 500;
    font-size: 18px;
  }

  .p--faded, .heading--faded {
    opacity: 30%;
  }

  .padding--120px {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 150px;
  }

  .section__con__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 135px 60px 135px;
  }

  .section__btn {
    widows: 170px;
    height: 60px;
  }

  .section--grey {
    background-color: var(--primary-bg-color);
    padding-bottom: 10em;
    margin-bottom: 18em;
  }

  .section__hero {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
  }

  .hero__image, .hero__title {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }
  
  .hero__title {
    align-self: center;
    justify-self: end;
    padding-right: 13em;
  } 

  .hero__title p {
    margin: 0;
  }

  .section__con__products {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .product__sukkulent {
    background-color: #fff;
  }

  .product__image {
    background-color: var(--primary-bg-color-pink);
    width: 281px;
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 20px 40px rgba(13, 18, 39, 0.3);
    border-radius: 5px;
    position: relative;
    right: 6.2em;
    transition: 0.3s;
  }

  .product__image:hover {
    transform: scale(1.35);
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.3);
  }

  .image--staffeli {
    box-shadow: 0px 10px 10px rgba(13, 18, 39, 0.2);
  }

  .product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    width: 1143px;
    height: 185px;
    margin: 0 auto;
  }

  .product--title {
    width: 130px;
  }

  .article__con {
    padding-top: 6em;
    display: flex;
    justify-content: center;
    gap: 1.3em;
  }

  .article__text__con {
    padding: 2em 0 0 2em;
    display: grid;
    align-content: center;
    height: 185px;
    width: 317px;
  }

  .article__con h4 {
    font-size: 20px;
  }

  .section__history {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .article__p {
    max-width: 317px;
  }

  .article__text__con a {
    color: var(--secondary-bg-color);
  }

  .a--gridend {
    padding-top: 1.3em;
  }

  .article--shadow {
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 617px;
  }

  .article__image {
    border-radius: 5px;
  }

  .section__btn--more {
    margin-top: 6em;
  }

  .fa-instagram {
    font-size: 70px;
    color: var(--primary-bg-color-pink);
  }

  .section__instagram {
    padding: 3em 0 15em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
  }
  
  .instagram__title {
    text-align: center;
  }

  .section__instagram, .heading--faded {
    font-weight: 300;
  }

  .gallery__con {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .gallery__image {
    height: 100%;
    transition: transform 0.5s;
  }

  .gallery__image:hover {
    transform: scale(1.1);
  }

  .p--italic{
    color: white;
    font-style: italic;
    font-size: 36px;
  }

  h1 {
    color: white;
    text-align: right;
  }

  h1 {
    font-size: 64px;
  }


  h2, h3, h4 {
    font-size: 48px
  }

  h1, h3, h4 {
    margin: 0;
  }

  span {
    color: #939FA4;
    font-weight: 300;
  }
</style>